
.add_question {
    margin: 0;
    background: rgb(131, 210, 236);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
}

.add_question .question {
    display: flex;
    padding: 15px 15px;
} 

.answer {
    padding: 15px 25px;
    display: flex;
}

p {
    padding: 0px 20px;
}

input {
    border-radius: 6px;
    padding: 10px 10px;
    width: 360px
}

.buttons {
    padding-top: 20px;
}

.btn {
    padding: 10px;
    color: blue;

}

.icons {
    padding: 15px 20px;
    transition: 0.5s ease-in;
    cursor: pointer;
}

.icons:hover{
    transform: scale(1.1);
    color: moccasin;
}

.answers {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(205, 231, 231);
    
}

button {
    background-color: lightsalmon;
    cursor: pointer;
}