.question {
    border: 3px solid #56a5eb;
    margin: auto;
}

p {
    color: #2479c4;
    font-weight: 600;
}

.answer-options {
    /* margin: auto; */
    padding: 15px;
}

.answer-option {
    padding: 10px;
    width: 60%;
    border: 1px solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #2479c4;
    background-color: white;
    font-weight: 600;
}

.answer-option:hover{
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-1px);
    transition: transform 0.2s;
}

.answer-option[disabled] {
    background-color: gray;
    color: white;
}

.next-btn {
    margin: 20px;
    color: white;
    background-color: #56a5eb;
    font-weight: 600;
    border-radius: 6px;
}

.next-btn:hover {
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-1px);
    transition: transform 0.2s;
}